.heroSection {
    display: flex;
align-items: center;
    justify-content: space-evenly;
    height: 90%;

}

.heroImage {
    height: 27.5rem;
    width: 30%;
    background-image: url('../../images/Headshot.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 3%;
    margin: 2%
}

.heroTextBox {

    padding: 4rem;
    width: 50%;
    /* background-color: green; */
}