.CVContainer {
    display: flex;
    padding: 0 3rem;

}

.CVSkills {
    width: 50%;
    /* height: 9vh; */
    font-size: 300%;
    box-sizing: border-box;
    padding-left: 3rem;
    /* background-color: rgb(54, 54, 61) */
}

.CVLinkContainer {
    width: 50%;
    background-image: url('../../images/chess.jpg');
    background-size: cover;
    border-radius: 3%;
}
.CVOverlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0,0,.6);
    border-radius: 3%;


}

.CVLink {

    width: 100%;
    height: 100%;
    /* background-color: rgba(10, 120, 150, 0.7); */
    display: flex;
    justify-content: center;
    align-items: center
}

@media only screen and (max-width: 413px) {
    .CVContainer {

        flex-direction: column-reverse;
        justify-content:space-between;
        height: 100%;
        width: 100%;
      }
      .CVLinkContainer {
        height: 45%;
        width: 100%;
      }
    
      
      .CVSkills {
        height: 50%;
        width: 100%;
        font-size: 180%;
        margin-bottom: 2rem;
      }
}