header {
    /* background-color: rgba(255, 99, 71, 0.3); */
    height: 10vh;
    width: 100%;
    padding: 0.5rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  .link {
    font-size: 145%;
    font-weight: bold;
    margin-left: 1.3rem;
  }
  .link:hover{
    text-decoration: overline;
  }
  #logo {
    width:auto;
     height:100%
  }
  nav {
    display: flex;
    width: auto;
  }

  @media only screen and (max-width: 600px) {
header {
  width:100vw
}
#logo {
  height: 75%;
  /* align-self: center; */
}
#heroTitle {
  margin:0
}
    .link {font-size: 90%;}
  }
    
  


  