:root {
  --A: rgb(250, 247, 240);
  --B: rgb(205, 252, 246);
  --C: rgb(188, 206, 248);
  --D: rgb(152, 168, 248);
}

* {
  color: white; 
  text-decoration: none;
  box-sizing: border-box;
  
}
html {
  height: 100vh;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(54, 54, 61); */

  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}
#root {
  height: 100vh;
  width: 100%;
}
.App{
  height: 100vh;
  width: 100%;
  background-image: url('./images/Background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

code {
  font-family: source-code-pr, Menl, Monac, Consola, Courier Ne monospace;
}

header {
  /* background-color: var(--C); */
  height: 10vh;
  width: 100%;
  padding: 0.5rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.page {
  height: 90vh;
}

.logo {
  height: 3rem;
  width: 3rem;
  background-image: url('./images/Logos_Designs/JW_Logo_NoBackground.png');
  background-position: center;
  background-size: contain;
}
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}

.link {
  font-size: 145%;
  font-weight: bold;
  margin-left: 1.3rem;
}
.link:hover{
  text-decoration: overline;
}






@media only screen and (max-width: 413px) {
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

  /* header h1 {
    font-size: 20px;
  } */

  h5 {
    font-size: 20px;
  }

  nav {
    display: flex;
    width: auto;
  }

  .link {
    font-size: 110%;
    margin-left: 10px;
  }

  .CVContainer {

    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .CVLinkContainer,
  .CVSkills {
    width: 100%;
    height: 50vh;
  }

  input,
  textarea {
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
    font-size: medium;
  }
}