* {
  color: rgb(54, 54, 61);
  text-decoration: none;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(54, 54, 61)
}

code {
  font-family: source-code-pr, Menl, Monac, Consola, Courier Ne monospace;
}

header {
  background-color: rgb(10, 120, 150);
  padding: 1.3rem 7%;
  font-size: 140%;
  display: flex;
  align-items: center;
  justify-content: space-between
}

h1 {
  font-size: 200%;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 2rem;
  width: 70vh;
  font-size: 200%;
}

input::placeholder,
textarea::placeholder {
  color: rgb(10, 120, 150);
  font-weight: 700;

}

.contact {
  font-size: 250%;
  margin: 7rem 2rem;

}

.lightText {

  color: rgb(10, 120, 150);
}

.contactContainer {
  display: flex;
  justify-content: space-around;
}

.col {
  display: flex;
  ;
  flex-direction: column;
}

.heroSection {
  height: 50rem;
  padding: 4rem;
  background-color: black;
  background-image: url(../src/images/Mugshot.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroTextBox {
  font-size: 300%;
  background-color: rgba(10, 120, 150, .8);
  padding: 2.5rem;
  border-radius: 10px
}

.link {
  font-size: 145%;
  font-weight: bold;
  margin-left: 1.3rem;
}

.CVContainer {
  display: flex;
  height: 90vh;

}

.CVSkills {
  width: 50%;
  /* height: 9vh; */
  font-size: 300%;
  box-sizing: border-box;
  padding-left: 3rem;
  background-color: rgb(54, 54, 61)
}

.CVLinkContainer {
  width: 50%;
  /* height: 100vh; */
  /* background-color:red; */
  background-image: url('./images/CV.jpg');
  background-size: cover
}

.CVLink {

  width: 100%;
  height: 100%;
  background-color: rgba(10, 120, 150, 0.7);
  display: flex;
  justify-content: center;
  align-items: center
}
.projectContainer{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns : 1fr 1fr
}




@media only screen and (max-width: 786px) {

  header {
    height: 30px;
    /* width:content; */

  }

  header h1 {
    font-size: 20px;
  }

  h5 {
    font-size: 20px;
  }

  nav {
    display: flex;
    width: auto;
  }

  .link {
    font-size: 68%;
    margin-left: 10px;
  }

  .heroTextBox {
    width: 70%;
    height: fit-content;
    padding: 1rem;
    font-size: large;
  }

  .CVContainer {

    flex-direction: column;
    height: 100%;
    width: 100%;
  }


  .CVSkills h1,
  .CVSkills li {
    font-size: large;
  }

  .CVLinkContainer,
  .CVSkills {
    width: 100%;
    height: 50vh;
  }

  .contactContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact {
    /* width: ; */
    font-size: medium;
    margin: 0;
  }

  .contactForm h1 {
    text-align: center;
  }

  input,
  textarea {
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
    font-size: medium;
  }

  .projectContainer{
    display: flex;
    flex-direction: column;
  }
  .overlay{
    height: 100%;
  }


}