.contactContainer {
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
}

.contactForm {
    background-color: green;
}

.contact {
    font-size: medium;
}

.shapes {
    background-color: purple;
    background-image: url('../../images/Graphics/Shapes_1_NoBackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

ul {
    background-color: red;
}

input,
textarea {
    margin-bottom: 1rem;
}

input::placeholder,
textarea::placeholder {
    color: var(--D);
    font-weight: 700;
}