.contactContainer,
.CVContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    padding: 3.5em;
}

.CVContainer {
    flex-direction: row;
    padding: 3.5em;

}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.CVSkills {
    height: 100%;
    width: 50%;
    align-items: center;
}

.CVSkills h1 {
    text-align: center;
}

.CVBP {
    width: 75%;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    /* background-color: aqua; */
}

.CVLinkContainer {
    width: 50%;
    padding-top: 2.5em;
    /* background-color:whitesmoke ; */
}

input,
textarea,
button {
    margin-bottom: 1rem;
    color: black;

}



@media only screen and (max-width: 413px) {

    .contactContainer {
        flex-direction: column;
        justify-content: flex-start;
    }

    .contactForm {
        width: 100%;
        height: 50%;
        text-align: center;
    }

    .list {
        width: 100%;
        height: 50%;
        padding-top: 50%;
    }

    .contact {
        margin-bottom: 1rem;
    }
}